
@CHARSET "UTF-8";

body {
	background-color : #fef3d3;
}
thead, td {
	font-family : "batang";
	text-align:center;
    border-bottom: 1px solid #ddd;
	padding: 10px;
}
thead {
	background-color : #bd7804;
}
h1 {
	font-family : "godik";
	font-size:40px;
	text-align:center;
}

